@import './assets/fonts/poppins/stylesheet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
  font-family: "Poppins" !important;
  margin: 0;
}

* {
font-family: "Poppins" !important;
  scrollbar-width: 10px;
  scrollbar-color: var(--secondary) var(--primary);
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6c4c4;
  border-radius: 4px;
}

.rc-table {
  border: none;
  margin-left: -20px;
}

.rc-table .rc-table-header {
  /* border-radius: 0px 0px 4px 4px; */
  border-top: 1px solid rgba(112, 112, 112, 0.3);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.rc-table thead.rc-table-thead th {
  background-color: #fff !important;
  border: 0px;
  padding-left: 25px;
}

.rc-table-body {
  border-top: 1px solid rgba(112, 112, 112, 0.3) ;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3) ;
  border-left: 0px;
  border-right: 0px;
}

.rc-table thead.rc-table-thead .header-title th {
  color: #051917;
  white-space: normal;
  font-size: 54px;
  font-weight: 600;
  border-top: 1px solid rgba(112, 112, 112,0.3);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 1px solid rgba(112, 112, 112, 0.3);
  padding-left: 25px;

}


.rc-table tbody>tr td {
  background-color: unset !important;
  color: #747474;
  padding-left: 25px;
  border: 0px;
}




/* calendar css react package */
/* .react-calendar {
  @apply bg-white rounded-lg shadow-lg pl-1;
  @apply w-full sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3;
  @apply mx-5;
} */

/* .react-calendar__tile {
  @apply p-0 text-center text-sm;
} */

/* .react-calendar__tile--active {
  @apply bg-blue-500 text-white;
} */

/* .react-calendar__tile--now {
  @apply bg-gray-200;
} */

/* .react-calendar__navigation button {
  @apply p-2 rounded-md hover:bg-gray-100;
} */