@import './assets/fonts/poppins/stylesheet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
  font-family: "Poppins" !important;
  margin: 0;
}

* {
font-family: "Poppins" !important;
  scrollbar-width: 10px;
  scrollbar-color: var(--secondary) var(--primary);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6c4c4;
  border-radius: 4px;
}

.rc-table {
  border: none;
  margin-left: -20px;
}

.rc-table .rc-table-header {
  /* border-radius: 0px 0px 4px 4px; */
  border-top: 1px solid rgba(112, 112, 112, 0.3);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.rc-table thead.rc-table-thead th {
  background-color: #fff !important;
  border: 0px;
  padding-left: 25px;
}

.rc-table-body {
  border-top: 1px solid rgba(112, 112, 112, 0.3) ;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3) ;
  border-left: 0px;
  border-right: 0px;
}

.rc-table thead.rc-table-thead .header-title th {
  color: #051917;
  white-space: normal;
  font-size: 54px;
  font-weight: 600;
  border-top: 1px solid rgba(112, 112, 112,0.3);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 1px solid rgba(112, 112, 112, 0.3);
  padding-left: 25px;

}


.rc-table tbody>tr td {
  background-color: unset !important;
  color: #747474;
  padding-left: 25px;
  border: 0px;
}